# Praca domowa 4
#### Autor: Laura Hoang

## Zadanie 1

Używając funkcji z pakietu `numpy` oraz `pandas` odpowiedz na poniższe pytania dotyczące zbioru danych o grach.

In [6]:
import numpy as np
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/R-Ladies-Warsaw/PoweR/master/Cz%C4%99%C5%9B%C4%87%202%20-%20Formatowanie%20danych/Python/data/vgsales.csv",
                delimiter = ",").dropna().reset_index(drop = True)
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

**a)** Wybierz gry, które zostały **wydane po 2015 roku** przez **Nintendo** oraz **ich sprzedaż w Ameryce była niższa niż w Europie**.

In [106]:
df[ (df.Year > 2015) & (df.Publisher == "Nintendo") & (df.NA_Sales < df.EU_Sales) ][["Name"]]

                                              Name
4199   Mario & Sonic at the Rio 2016 Olympic Games
6477   Mario & Sonic at the Rio 2016 Olympic Games
14703                               Teddy Together

**b)** Jaki **rodzaj gry** zarobił **najwięcej** w roku **2010**?

In [105]:
df[df.Year == 2010][["Genre", "Global_Sales"]].groupby(df.Genre).agg("sum").sort_values(["Global_Sales"], ascending = False).head(1).reset_index().iloc[0,0]

'Action'

**c)** Jakie typy gier sprzedają się **średnio lepiej** w **Japonii** niż w **Europie**? Jakie to **typy gier** i jaka jest ta **wartość średnia**. Wynikiem powinna być tabelka posortowana względem średnich. Nazwij kolumny `Typ Gry` i `Średnia` sprzedaż w Japonii.

In [87]:
dfc1 = df[["Genre", "JP_Sales", "EU_Sales"]].groupby(df.Genre).agg("mean")
dfc2 = dfc1[dfc1.JP_Sales > dfc1.EU_Sales]
dfc3 = dfc2.sort_values(["JP_Sales"], ascending = False).drop("EU_Sales", axis=1)
dfc3.rename(columns={"Genre": "Typ Gry", "JP_Sales": "Średnia sprzedaż w Japonii"})

              Średnia sprzedaż w Japonii
Genre
Role-Playing                    0.238293
Puzzle                          0.099439
Strategy                        0.073284